@{
    ViewData["Title"] = "About us";
}

<div class="col-md-5">
    <div class="about">
        <h3>OUR HISTORY</h3>

        <p align="justify">The first Quality Bookstore opened on Wells Street in Chicago’s Old Town neighborhood in 1963. It was a large, shambling, literary bookstore with creaky wood floors and dust dating back to the early 1950s. The closest thing we had to a computer was a plug-in cash register, pen and paper, and a staff that knew every book in the store by heart.
        </p>
       
        <p align="justify">Now, we’re building on our brand strengths with a vision:</palign="justify">
        <h2>“To become the company that defines global modern Book Market”</h2>
        <p align="justify">
            Quality Books has earned a reputation in Chicago for high-quality inventory and informed service. We love books. Twice our stores have been named by the Chicago Tribune as one of the 100 best things about the city. The alternative newspaper, Newcity, has recognized Quality Books author event schedule as the best in Chicago.
        </p>

        </div>
</div>
<div class="col-md-6">
    <img class="img-responsive" src="~/images/ourhistory.jpg" alt="history" />
</div>


