@{
    ViewData["Title"] = "Contact Us";
}


<h2 class="pull-left">@ViewData["Title"]</h2>

<div class="contact">
    <br />
    <img src="~/images/ContactBg.jpg" alt="" class="img-responsive" align="right"/ >
    
        <h2 align="left">
            <strong>Address:</strong><br />
            Building 183<br /> 139 Carrington Road<br />Mt Albert, Auckland<br /> New Zealand

            <br />
            <br />
            <strong>Phone:</strong><br />
            +64 21 037 2109
            <br />
            <br />
            <strong>Email:</strong><br />
            support@quanlitybooks.co.nz
        </h2>
    
</div>
